/* LoadingSpinner.css */

.dot-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #323232;
  border-radius: 50%;
  margin: 0 5px;
  animation: bounceDot 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.3s;
}
.dot:nth-child(3) {
  animation-delay: 0.6s;
}
.dot:nth-child(4) {
  animation-delay: 0.9s;
}

@keyframes bounceDot {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
